<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx/lsyj_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{360,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,520}</string>
			</dict>
			<key>fx/lsyj_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,2},{360,410}}</string>
				<key>offset</key>
				<string>{0,-55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,520}</string>
			</dict>
			<key>fx/lsyj_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,416},{360,410}}</string>
				<key>offset</key>
				<string>{0,-55}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,520}</string>
			</dict>
			<key>fx/lsyj_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,526},{360,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,520}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fx_lsyj8.png</string>
			<key>realTextureFileName</key>
			<string>fx_lsyj8.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>